:root {
  --bg-color: #fafafa;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
