.perfil {
  padding: 20px 20px 0 20px;
}

.perfil__header {
  display: flex;
  align-items: center;
}

.perfil__header img {
  border-radius: 50%;
  height: 77px;
  width: 77px;
  margin-right: 2rem;
  cursor: pointer;
}

.perfil__name {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.perfil__name h2 {
  color: #555353;
  font-weight: 100;
  font-size: 20px;
  line-height: 32px;
}

.perfil__name button {
  cursor: pointer;
  background-color: #0095f6;
  color: #fff;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  padding: 0 12px;
  max-width: 150px;
  min-width: 100px;
  height: 1.8rem;
}

.perfil__center {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #262626;
  border-bottom: 1px solid lightgray;
}

.perfil__post {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.perfil__number {
  font-weight: 700;
}

@media screen and (min-width: 48em) {
  .perfil__header img {
    height: 150px;
    width: 150px;
  }

  .perfil__name {
    flex-direction: row;
    align-items: center;
  }

  .perfil__name h2 {
    margin-right: 1ch;
  }

  .perfil__post {
    flex-direction: row;
  }

  .perfil__number {
    margin-right: 1ch;
  }
}
