.home_header {
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  z-index: 500;
  top: 0;
}

.home_header h2 {
  font-size: 20px;
}

.home_bodyHeader {
  padding: 3px 15px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
}

@media screen and (min-width: 48em) {
}

@media screen and (min-width: 64em) {
}
