.home_header {
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  z-index: 500;
  top: 0;
}

.home_header h2 {
  font-size: 20px;
}

.home_bodyHeader {
  padding: 3px 15px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
}

.home_input {
  margin-left: 2ch;
  flex: 1;
}

.home_input textarea {
  color: #f4f4f4;
}

.home_botons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_btnleft svg {
  color: var(--twitter-color);
}

.home_btnleft button {
  border-radius: 50px;
  text-transform: capitalize;
}

@media screen and (min-width: 48em) {
}

@media screen and (min-width: 64em) {
}
