.postModal {
  background-color: var(--bg-color-gray);
  padding: 15px;
  height: 75vh;
  overflow: scroll;
}

/* Hide scrollbar for chrome, safari and opera */
.postModal::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, edge and firefox */
.postModal {
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /* firefox*/
}

.postModal textarea {
  color: #f4f4f4;
}

.postModal_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postModal_btns > button:disabled {
  background-color: #0e4d78;
  color: #62727d;
}

.postModal_btns svg {
  color: var(--twitter-color);
}

.postModal_file {
  position: relative;
  color: var(--twitter-color);
  margin-top: 10px;
}

.postModal_file input {
  position: absolute;
  left: 0;
  top: 5px;
}

.postModal_loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postModal_img {
  width: 300px;
  margin-top: 10px;
}
