:root {
  --primary-color: #18191a;
  --secondary-color: #343536;
  --tercer-color: #3156b9;
  --cuarto-color: #aa00ff;
  --border-color: #3f4448;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: aliceblue;
}

svg {
  color: aliceblue;
}
