.message {
  display: flex;
  flex-direction: column;
}

.message__desktop {
  display: none;
}

/*********** Media 640px ****************/
@media screen and (min-width: 640px) {
  .message__movil {
    display: none;
  }

  .message__desktop {
    display: flex;
  }

  .message__sidebar {
    flex: 0.35;
  }

  .message__chat {
    flex: 0.65;
  }
}
