.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #37474f;
  margin-bottom: 30px;
}

.chat__reciever {
  margin-left: auto;
  background-color: var(--cuarto-color);
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}
