.message {
  max-width: 670px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.message__chat {
  flex: 1;
  background-image: url("https://res.cloudinary.com/dhdxq3mkm/image/upload/v1629728191/whatsapp-project/fondo_messenger_dc2g8k.jpg");
  background-position: bottom;
  object-fit: contain;
}

.message__chat {
  overflow: scroll;
}

.message__chat::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.message__chat {
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}
